.row{
  margin: auto;
  margin:20px 50px;
}
.card-img-top{
  border-radius: 20px;
  height: 70%;
  width: 100%;
  text-align: center;
  margin: auto;
}
h5,p{
  color: white;
  text-align:center;

}
h5{
  color: #ff1b1b;
  margin-top: 1%;
  height: 5%;
}

