p{
  color: white;
  background-color: #2e5795;
  border-radius: 10px;
  box-shadow: 0 6px 18px #2e5795;
  margin-bottom: 20%;
}
h5{
  font-size: larger;
  color: white;
  background-color: #c20000;
  border-radius: 10px;
  box-shadow: 0 6px 18px #c20000;
}
.was-validated{
  margin:50px 100px;
}

.w-100{
  margin-top: 2%;
  border-radius: 10px;
  height: calc(100vh - 100px);

}
.carousel{
  width: 90%;
  margin: auto;
}
