
<div class="container">
  <div class="row">
    <div class="col -md-3" *ngFor="let item of allData">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="item['urlToImage']" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item['title'] }}</h5>
          <p class="card-text">{{item['description'] | cut:100}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

